<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>메인 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  <style>
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .logo {
      display: block;
      background-color: salmon;
      margin-top: 100px;
      margin-bottom: auto;
      font-size: 60px;
    }

    .buttons {
      background-color: skyblue;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 20px;
    }

    .buttons button {
      margin: 5px;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <!-- <div class="container">
    <div class="inner">
      <button type="button" class="btn btn-primary btn-lg"><a href="/login">로그인 바로가기</a></button>
      <h1>"Welcome to Ney Express Service!"</h1>
      <h2><a href="/login">로그인 바로가기</a></h2>
      <h2><a href="/register">회원가입 바로가기</a></h2>
      <h2><a href="/dbBoard">게시판 서비스</a></h2>
    </div>
  </div> -->
  <div class="container">
    <div class="logo">Ney Express Service</div>
    <div class="buttons">
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
    </div>
  </div>
</body>
<script>
  // console.log(document.cookie);

  // document.cookie = "user=tetz; expires=17 Mar 2022 13:00:00 GMT; path=/";
  // document.cookie = "test=kdt; expires=17 Mar 2022 13:00:00 GMT; path=/";

  console.log(document.cookie);
</script>

</html>